.navbar-default {
  background : rgb(0, 0 , 150);
}

.navbar-nav {
  display:table;
  width:100%;
  margin: 0;
  /*position: absolute;*/
    
}

.btn.btn-primary {

}

.navbar-nav > li {
  float:none;
  display:table-cell;
  text-align:center;
}

.navbar-default.nav-upper {
  width: 100%;
}

.navbar-default.nav-upper ul {
  display: table;
  width:100%;
}  

.navbar-default.nav-upper .navbar-upper > li > a {
  font-size: 14px;
  color: #fff;
}

.navbar-default.nav-lower .navbar-lower > li > a {
  color: #fff;
  font-size: 30px;
}

.navbar-default.nav-location .navbar-location {
  position: absolute;
  font-size: 20px;
}

.navbar-default.nav-location .navbar-location > li > a {
  color: #fff;
}

.navbar-default.nav-upper .navbar-upper > li > a:hover {
  color: #ffcb08;
}

.navbar-default.nav-upper .navbar-upper > li > a:focus {
  color: #ffcb08;
}

.navbar-default.nav-lower .navbar-lower > li > a:hover {
  color: #ffcb08;
}

.navbar-default.nav-location .navbar-location > li > a:hover {
  color: #ffcb08;
}

.navbar-logo {
  background: url('http://images1.cafef.vn/Images/Uploaded/DuLieuDownload/logodn/SKG.jpg') no-repeat center center;
  width: 90px;
  height: 90px;
  background-size: 100%;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 1051;
}

